<h1><center>Gia's About Page</center></h1>

<p>
  This is my about page! It will probably tell you that I'm a front end dev learning Rails.</p>
</p>

<p>
  This paragraph has a link to take you back to my <%= link_to 'Home', root_path %>.
</p>