<div class="jumbotron">
  <div class="container">
	<div class="col-centered col-md-7">
		<p>Welcome to the not-so-one-and-only AlphaBlog!</p>
	</div>
	<% if logged_in? %>
		<btn><%= link_to 'Entrez', articles_path, class: "btn btn-primary btn-md col-md-1 col-md-offset-6" %></btn>
	<% else %>
		<btn><%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-md col-md-1 col-md-offset-6" %></btn>
	<% end %>
  </div>
</div>

<section class="container">
	<article>
		<h1>This is my AlphaBlog!</h1>
		<h2>It's filled with AlphaBlog goodness.</h2>

		<p>This is the first project for the <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course" target="_blank"> The Complete Ruby on Rails Developer Course</a>.  This is generally to scope with a few additions or modifications while playing around.  This is not an accurate representation of any current skill sets.</p>

    <h2>Play around!</h2>
    <p><strong>Demo User</strong></p>
    <ul>
      <li>login: demouser@test.com</li>
      <li>pswd: demouser</li>
    </ul>
    <p><strong>Demo Admin</strong></p>
    <ul>
      <li>login: demoadmin@test.com</li>
      <li>pswd: demoadmin</li>
    </ul>
    <p><strong>Your Own!</strong></p>
    <p>Please feel free to create your own user</p>
	</article>
</section>
