<h1><center>Gia's Homepage</center></h1>

<p>
  This is my alpha blog! It's filled with alpha blog goodness.
</p>

<p>
  This is the link to my <%= link_to 'About', about_path %> page. It says things about me. Here's the link to <%= link_to 'Alpha Blog', articles_path %></p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eleifend auctor urna in malesuada. Vivamus nisi massa, commodo non sapien eget, maximus luctus ante. Quisque in risus id dui feugiat pretium. Morbi in libero dolor. Donec sit amet lectus quis leo consequat lobortis. Integer condimentum, massa a rhoncus ultrices, turpis lorem ullamcorper lacus, nec venenatis quam augue eu odio. Donec lobortis nulla et mi aliquam, sed tincidunt lectus bibendum. Cras iaculis fermentum mauris, ut aliquam leo ullamcorper in. Curabitur posuere arcu vulputate leo iaculis accumsan. Nunc condimentum augue vitae odio interdum, eget venenatis orci malesuada. Nullam pretium congue semper. Vivamus molestie sagittis nunc, in feugiat ipsum venenatis at. Proin tempor purus a egestas consectetur. Praesent condimentum ante eu consectetur pretium. Etiam sed laoreet magna. Praesent quis pharetra diam, eu rhoncus eros.</p>

<p>Aliquam non neque nec urna scelerisque fermentum faucibus ut dolor. Phasellus at sodales felis. Morbi sed augue egestas, pellentesque leo nec, iaculis justo. Vestibulum finibus turpis at nulla ornare, eget feugiat orci bibendum. Proin et velit et metus faucibus aliquet. Donec placerat euismod euismod. Vivamus sed hendrerit risus. Donec et mauris in nulla accumsan convallis vitae vel magna. In lacus est, luctus eget venenatis iaculis, consectetur nec orci. Nulla hendrerit libero ut odio efficitur, eget ultricies diam facilisis. In congue tincidunt ipsum, et scelerisque tortor scelerisque vel. Etiam porttitor, libero a finibus tempus, diam metus fringilla metus, ut rhoncus leo ligula non quam.</p>


