<footer>
	<div class="container">
		<p>AlphaBlog &copy;2015</p>
		
		<nav>
			<ul>
				<li><%= link_to_unless_current("Home", root_path) %></li>
				<li><%= link_to_unless_current("About", about_path) %></li>
				<li><%= link_to_unless_current("Users", users_path) %></li>
				<li><%= link_to_unless_current("Blog", articles_path) %></li>
			</ul>
		</nav>
	</div>
</footer>